/* utils */
:root {
  --color-axion: #2196F3;
  --color-primary: #212121;
  --color-icon: #AFB1B8;
  --color-secondary: #757575;
  --color-white: #fff;
}

/* base */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--color-primary);
  max-width: 480px;
  width: 100%;
  margin: 0;
  /* tablet */
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  body {
    max-width: 768px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  body {
    max-width: 1600px;
    width: 100%;
  }
}

address {
  margin-bottom: 12px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

textarea {
  resize: none;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .title {
    font-size: 36px;
    line-height: 1.313;
    margin-bottom: 50px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-secondary);
  margin: 0 24px 20px;
}

/* components */
@media screen and (min-width: 481px) and (max-width: 769px) {
  .container__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 769px) {
  .container__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.heading__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin: 30px 0 10px;
}
@media (min-width: 481px) {
  .heading__subtitle {
    display: block;
  }
}

.heading__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  max-width: 450px;
  margin: 0 0 30px 0;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .advantages__description {
    max-width: 354px;
    margin: 0;
  }
}
@media (min-width: 769px) {
  .advantages__description {
    max-width: 270px;
    margin: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 769px) {
  .advantages-card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

/* activities section */
.activities {
  display: none;
}
@media (min-width: 769px) {
  .activities {
    display: contents;
    padding-top: 0;
    padding-bottom: 94px;
  }
  .activities__subtitle {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    bottom: 0;
    width: 370px;
  }
}

@media (min-width: 769px) {
  .container__activities {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 30px;
    margin: 0;
  }
}

/* footer form button */
.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  background-color: var(--color-axion);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

/* profile buttons section */
.button {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button--active {
  color: var(--color-white);
  background-color: var(--color-axion);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:hover {
  color: var(--color-white);
  background-color: var(--color-axion);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:focus {
  color: var(--color-white);
  background-color: var(--color-axion);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.profile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media (min-width: 481px) {
  .profile__buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
}

/* main form buttons */
.close__button {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close__button:hover {
  fill: var(--color-axion);
}

.close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #000;
}

.button__submit {
  font-style: inherit;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--color-axion);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 24px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* profile button section */
.button__section {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .button__section {
    padding-bottom: 30px;
  }
}
@media (min-width: 769px) {
  .button__section {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.portfolio__title {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* main form checkbox */
.checkbox-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.checkbox-form--position {
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .checkbox-form--position {
    margin-left: 13px;
  }
}
.checkbox-form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox-form__text {
  position: relative;
  padding-left: 16px;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 769px) {
  .checkbox-form__text {
    font-size: 14px;
    line-height: 1.7142;
  }
}
.checkbox-form__input:checked + .agreement__icon {
  fill: var(--color-white);
  background-color: var(--color-axion);
  border: none;
}
.checkbox-form__link {
  color: var(--color-axion);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}
@media (min-width: 769px) {
  .checkbox-form__link {
    font-size: 14px;
    line-height: 1.7142;
  }
}

.agreement__icon {
  position: absolute;
  fill: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  margin: 0px 8px 4px 0;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 769px) {
  .agreement__icon {
    margin: 4px 8px 4px 0;
  }
}

/* main customers section*/
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media (min-width: 769px) {
  .customers {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--color-icon);
  background-color: var(--color-white);
  border: solid 1px;
  border-radius: 4px;
  border-color: var(--color-icon);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover {
  fill: var(--color-axion);
  border-color: var(--color-axion);
}
.customers__link:focus {
  fill: var(--color-axion);
  border-color: var(--color-axion);
}

/* profile section */
.profile__section {
  padding-top: 0;
  padding-bottom: 60px;
}
@media (min-width: 769px) {
  .profile__section {
    padding-bottom: 94px;
  }
}

@media (min-width: 481px) {
  .profile-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 481px) and (min-width: 481px) and (max-width: 769px) {
  .profile-card {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.profile-card__img {
  width: 450px;
  height: 294px;
  margin: 0;
  overflow: hidden;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .profile-card__img {
    max-width: 354px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .profile-card__img {
    width: 370px;
  }
}
.profile-card__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  max-width: 406px;
  width: 100%;
  color: var(--color-primary);
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .profile-card__subtitle {
    max-width: 306px;
  }
}
@media (min-width: 769px) {
  .profile-card__subtitle {
    max-width: 322px;
    white-space: nowrap;
  }
}
.profile-card__description {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: 0;
}
.profile-card__axions {
  margin-bottom: 30px;
  position: relative;
  max-width: 450px;
  width: 100%;
  background-color: var(--color-white);
  border: 1px solid #EEEEEE;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.profile-card__axions:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.profile-card__axions:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.profile-card__axions:hover .profile-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .profile-card__axions {
    max-width: 354px;
    margin: 0;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 769px) {
  .profile-card__axions {
    max-width: 370px;
    margin: 0;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.profile-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--color-white);
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  top: 0;
  padding: 64px 24px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text {
  padding: 20px 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.header {
  background-color: var(--color-white);
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
  height: 80px;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header {
    padding: 21px 0;
    height: 80px;
  }
}
@media (min-width: 769px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    gap: 90px;
  }
}
@media (min-width: 769px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header__nav {
    gap: 88px;
  }
}
@media (min-width: 769px) {
  .header__nav {
    gap: 93px;
  }
}
.header__menu {
  display: none;
}
@media (min-width: 481px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 51px;
  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}
.header__button {
  display: block;
  background-color: var(--color-white);
  border: none;
  fill: var(--color-primary);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button:hover {
  fill: var(--color-axion);
}
.header__button:focus {
  fill: var(--color-axion);
}
@media (min-width: 481px) {
  .header__button {
    display: none;
  }
}
.header__address {
  display: none;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 769px) {
  .header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media (min-width: 481px) {
  .header__address-link {
    color: var(--color-secondary);
    fill: var(--color-secondary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    cursor: pointer;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__address-link:hover {
    color: var(--color-axion);
    fill: var(--color-axion);
  }
  .header__address-link:focus {
    color: var(--color-axion);
    fill: var(--color-axion);
  }
}
@media (min-width: 481px) {
  .header__link {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 20px 0;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover {
    color: var(--color-axion);
  }
  .header__link:focus {
    color: var(--color-axion);
  }
}
@media (min-width: 481px) {
  .header__active-link {
    position: relative;
    padding-bottom: 32px;
    color: var(--color-axion);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
  }
  .header__active-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-axion);
    border-radius: 2px;
    content: "";
  }
}
.header__email {
  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
@media (min-width: 481px) {
  .header__email {
    font-size: 12px;
    line-height: 1.167;
  }
}
.header__num {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  letter-spacing: 0.02em;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 481px) {
  .header__num {
    font-size: 12px;
    line-height: 1.167;
  }
}
.header__icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header__icon--size-email {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .header__icon--size-telephone {
    width: 10px;
    height: 14px;
  }
}

/* hero section */
.hero {
  background-color: rgba(47, 48, 58, 0.4);
  padding: 118px 0;
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-blend-mode: darken;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/background@2x.jpeg");
  }
}
@media (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: var(--color-white);
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 0 30px;
}
@media (min-width: 481px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.364;
  }
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__button-design {
  font-style: inherit;
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--color-axion);
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--color-axion);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}
@media (min-width: 769px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo__studio {
  color: #000;
}

.customers__logo {
  width: 210px;
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .customers__logo {
    width: 228px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 769px) {
  .customers__logo {
    width: 170px;
  }
}

.logo__footer {
  color: var(--color-white);
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}
@media (min-width: 769px) {
  .footer__logo {
    display: block;
    margin-bottom: 20px;
  }
}

/* team section */
.container__team {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .container__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 769px) {
  .container__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-card {
  max-width: 450px;
  width: 100%;
  padding-bottom: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 0 30px;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .team-card {
    max-width: 354px;
    margin: 0;
  }
}
@media (min-width: 769px) {
  .team-card {
    max-width: 270px;
    margin: 0;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .team-card--wrap {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
.team-card__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-primary);
}
.team-card__img {
  max-width: 450px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .team-card__img {
    max-width: 354px;
  }
}
@media (min-width: 769px) {
  .team-card__img {
    max-width: 250px;
  }
}

.profesion__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
  margin-bottom: 0;
  text-align: center;
}

.accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.icon {
  width: 44px;
  height: 44px;
}
.icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  fill: var(--color-icon);
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__link:hover {
  background-color: var(--color-axion);
  fill: var(--color-white);
}
.icon__link:focus {
  background-color: var(--color-axion);
  fill: var(--color-white);
}

.mobile-menu {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100wv;
  height: 100vh;
  background-color: var(--color-white);
  display: none;
  padding: 48px 40px;
  overflow: scroll;
}
.mobile-menu__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.mobile-menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  margin: 0;
}
.mobile-menu__close:hover {
  fill: var(--color-axion);
}
.mobile-menu__close:focus {
  fill: var(--color-axion);
}
.mobile-menu__li {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link {
  color: var(--color-primary);
}
.mobile-menu__link:hover {
  color: var(--color-axion);
}
.mobile-menu__link:focus {
  color: var(--color-axion);
}
.mobile-menu__num {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--color-axion);
  margin-bottom: 32px;
}
@media (max-width: 376px) {
  .mobile-menu__num {
    font-size: 24px;
    line-height: 1.167;
  }
}
.mobile-menu__email {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  margin-bottom: 64px;
}
.mobile-menu__accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-menu__accounts li {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
}
.mobile-menu.is-open {
  display: block;
}

/* last social nenwork link style*/
.link-stylization {
  color: var(--color-axion);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.link-stylization--last {
  border: none;
}

/* layout */
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}
@media (min-width: 769px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

/* footer */
.footer {
  position: relative;
  background-color: #2F303A;
  padding: 60px 0;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .footer__position:nth-child(-n+2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 60px;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }
}
@media (min-width: 769px) {
  .footer__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 70px;
  }
}
.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:hover {
  color: var(--color-axion);
}
.footer__email:focus {
  color: var(--color-axion);
}
.footer__email-position {
  margin-bottom: 12px;
  text-align: center;
}
@media (min-width: 769px) {
  .footer__email-position {
    text-align: left;
  }
}
.footer__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__num:hover {
  color: var(--color-axion);
}
.footer__num:focus {
  color: var(--color-axion);
}
@media (min-width: 769px) {
  .footer__num {
    margin: 0;
    display: block;
  }
}
.footer__social {
  margin-bottom: 60px;
}
.footer__title {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 769px) {
  .footer__title {
    text-align: left;
  }
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-white);
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  background-color: var(--color-axion);
}
.footer__link:focus {
  background-color: var(--color-axion);
}
.footer__form {
  margin-left: auto;
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .footer__form {
    margin: 0;
  }
}
.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
@media (min-width: 769px) {
  .address {
    color: var(--color-white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

/* footer subscribe form */
.subscribe-form {
  margin: 0 auto;
}
@media (min-width: 769px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    margin: 0;
  }
}
.subscribe-form__title {
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
@media (min-width: 769px) {
  .subscribe-form__title {
    text-align: left;
  }
}
.subscribe-form__text {
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 0;
}
.subscribe-form__icon {
  fill: var(--color-white);
}
.subscribe-form__input {
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  color: var(--color-white);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  margin-bottom: 30px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media (min-width: 769px) {
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

/* main form */
.form {
  margin-left: 0;
  margin-right: 0;
}

.form-field {
  margin-bottom: 10px;
}
.form-field__label {
  color: var(--color-secondary);
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6667;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.form-field__input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-field__input:focus {
  border-color: var(--color-axion);
}
.form-field__input:focus + .form-field__icon {
  fill: var(--color-axion);
}
.form-field__input:hover {
  border-color: var(--color-axion);
}
.form-field__input:hover + .form-field__icon {
  fill: var(--color-axion);
}
.form-field__control {
  position: relative;
  cursor: pointer;
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--color-primary);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea:focus {
  border-color: var(--color-axion);
}
.form-field__textarea:hover {
  border-color: var(--color-axion);
}
.form-field__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}
.form-field__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}
.form-field__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}
.form-field__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}
.form-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
@media (min-width: 769px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}
.modal__container {
  padding: 40px;
  position: relative;
  max-width: 450px;
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 769px) {
  .modal__container {
    max-width: 528px;
    max-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--team {
  background-color: #F5F4FA;
}
@media (min-width: 769px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}/*# sourceMappingURL=main.css.map */