/* footer */

.footer {
    position: relative;
    background-color: #2F303A;
    padding: 60px 0;

    &__position {
        &:nth-child(-n + 2){
        @media screen and (min-width:481px) and (max-width:769px) {
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;
            row-gap: 60px;
            column-gap: 165px;
            }
        }
        @media (min-width:769px) {
            display: flex;
            justify-content: left;
            align-items: baseline;
            gap: 70px;
        }
    }

    &__email {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--color-axion);
        }

        &:focus {
            color: var(--color-axion);
        }

        &-position {
            margin-bottom: 12px;
            text-align: center;

            @media (min-width:769px) {
                text-align: left;
            }
        }
    }

    &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        margin-bottom: 60px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--color-axion);
        }

        &:focus {
            color: var(--color-axion);
        }

        @media (min-width:769px) {
            margin: 0;
            ;
            display: block;
        }
    }



    &__social {
        margin-bottom: 60px;
    }

    &__title {
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        text-align: center;

        
        @media (min-width:769px) {
            text-align: left;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--color-white);
        border-radius: 50%;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: var(--color-axion);
        }

        &:focus {
            background-color: var(--color-axion);
        }
    }

    &__form {
        margin-left: auto;
        @media screen and (min-width: 481px) and (max-width:769px) {
            margin: 0;
        }
        @media (min-width:769px) {
            
        }
    }

}


.address {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    @media (min-width:769px) {
        color: var(--color-white);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
    }

}