
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--color-axion);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;

    @media(min-width:769px){
        font-size: 26px;
        line-height: 1.192;
        }
}

.logo__studio {
    color: #000;
}

.customers__logo {
    width: 210px;
    height: 92px;
    flex-basis: calc((100% - 30px)/2);

    @media screen and (min-width:481px) and (max-width:769px) {
        width: 228px;
        flex-basis: calc((100% - 60px)/3);
    }
    
    @media(min-width:769px) {
        width: 170px;
    }
}

.logo__footer {
    color: var(--color-white);
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
    @media (min-width:769px){
        display: block;
        margin-bottom: 20px;
    }
}