/* profile section */ 

.profile__section {
    padding-top: 0;
    padding-bottom: 94px;
}


.profile-card {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    &__img {
            width: 370px;
            height: 294px;
            margin: 0;
            overflow: hidden;
        }
    
    &__subtitle {
            font-weight: 700;
            font-size: 18px;
            line-height: 2.0;
            margin-bottom: 4px;
            letter-spacing: 0.06em;
            max-width: 322px;
            width: 100%;
            white-space: nowrap;
            color: var(--color-primary);
        }
    
    &__description {
            color: var(--color-secondary);
            font-weight: 400;
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: 0.03em;
            margin: 0;
        }
    
    &__axions {
            position: relative;
            max-width: 370px;
            width: 100%;
            background-color: var(--color-white);
            border: 1px solid #EEEEEE;
            flex-basis: calc((100% - 60px)/3);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                }
            
            &:focus {
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                }

            &:hover .profile-card__overlay {
                    transform: translateY(0);
                }
        }
    
    &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 294px;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            background-color: rgba(33, 150, 243, 0.9);
            color: var(--color-white);
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.556;
            letter-spacing: 0.03em;
            top: 0;
            padding: 64px 24px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
}

.card__text {
    padding: 20px 24px;
}

.overlay {
    position: relative;
    overflow: hidden;
}